/* ScrollingBanner.css */

.banner-container {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-family: Arial Black;
    overflow: hidden;
    padding: 3px 0;
    z-index: 1000;
    height: 20px; /* Set a fixed height for the banner */
    font-size: 10px;
}

.banner-content {
     display: inline-block;
     white-space: nowrap; /* Keeps the text in one line */
     animation: scroll-right 60s linear infinite; /* Smooth infinite scroll */
}

@keyframes scroll-right {
    0% {
        transform: translateX(0); /* Start from the left */
    }
    100% {
        transform: translateX(-50%); /* Move to the left, covering half of the content */
    }
}

/* Additional styles to space out the names */
.name {
    margin: 0 14px; /* Add margin for spacing between names */
    display: inline-block; /* Ensure span acts like an inline-block */
}