.input-field-container {
    display: flex; /* Flexbox to align the prompt and input horizontally */
    align-items: center; /* Align items vertically in the middle */
    margin-bottom: 15px; /* Space between input fields */
}

.input-field-prompt {
    font-weight: bold;
    margin-right: 10px; /* Space between the prompt and input */
    width: 120px; /* Fixed width for the prompt/label */
}

.input-field {
    flex-grow: 1; /* The input field will take the remaining space */
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}
