/* Nav Menu Styles */
.nav-menu {
    text-align: center;
    width: 100%; /* Full width */
    position: relative; /* Ensure it's relative to its position in the flow */
    top: 0;
}
  
  .menu-nav {
    display: flex;
    justify-content: center; /* Align items in the center */
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
  }
  
  .menu-nav li {
    margin: 0 1px; /* Space between the menu items */
  }
  
  .menu-nav button {
    background: none;
    color: #1d1d1d; /* Text color */
    border: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.7s ease;
    font-family: "Arial Black", sans-serif;

  }
  
  .menu-nav button.active {
    color: #1423e7; /* Text color for the active item */
    transition: color 0.7s ease, color 0.7s ease; /* Smooth transition for active state */
  }
  