.site-title {
    padding: 5px 10px;
    margin: 0 left;          /* Center element horizontally */
    color: #e7148c;        /* Text color */
    cursor: pointer;         /* Flexbox properties for centering */
    display: flex;           /* Enable flexbox */
    left: 0;
    height: 10vh;            /* Optional: Adjust height for vertical centering */
    gap: 20px;               /* Adds space between elements (if any) */
}

.site-title-text {
    font-size: 35px;
    font-family: "Arial Black", sans-serif;
}

